In [1]:
import pandas as pd
import os

In [3]:
os.listdir('../data')

['DJI_fe.csv',
 'DJI_STO_20period_sma10.csv',
 '.DS_Store',
 'N225.csv',
 'DJI_modified_features - DJI.csv',
 'preprocessed',
 'N225fillVOL.csv',
 'DJI_modified_sma.csv',
 'downjone5y.csv',
 'N225withoutNULL.csv',
 'stocknews',
 'dowjone1985_2019.csv',
 '.ipynb_checkpoints',
 'DJI_ema.csv',
 'DJI_denoise.csv']

In [5]:
df = pd.read_csv('../data/dowjone1985_2019.csv')
df.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
8757,2019-10-25,26789.609375,27015.369141,26765.679688,26958.060547,26958.060547,274610000
8758,2019-10-28,27040.330078,27167.880859,27028.710938,27090.720703,27090.720703,290770000
8759,2019-10-29,27061.070313,27165.939453,27039.759766,27071.460938,27071.460938,269610000
8760,2019-10-30,27110.710938,27204.359375,26999.640625,27186.689453,27186.689453,231750000
8761,2019-10-31,27188.369141,27188.369141,26918.289063,27046.230469,27046.230469,270910000